@import './range-slider';

body {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  font-family: helvetica;
  background-color: #ffffff;
  font-size: 65.2%;
  #wrapper {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 5px 10px 18px #888888;
    overflow: hidden;
    border-radius: 10px;
    #player_wrapper {
        width: 70rem;
        height: 40rem;
        position: relative;
        #video_player {
          width: 100%;
        }
        .duration-bar{
            position: absolute;
            bottom: 6%;
            left: 50%;
            margin-left: -1px;
            transform: translate(-50%, -50%);
        }
        @include range-slider;
        
        #player_controls {
            bottom: 0;
            position: absolute;
            background-color: #000;
            width: 100%;
            padding: .5rem;
            box-sizing: border-box;
            display: flex;
                input[type="image"] {
                    height: 1.5rem;
                    margin-left: .2rem;
                    margin-right: .5rem;
                    margin-top: .2rem;
                    
                }
                @include range_slider;
                #vol_img {
                    margin-top: .2rem;
                    height: 1.5rem;
                    margin-left:60%;
                    width: 1.5rem;
                }
           }
       }
    }
}




@media only screen   
and (min-device-width: 320px) 
and (max-device-width: 500px) 
and (-webkit-min-device-pixel-ratio: 2){
    body {
        
        #wrapper {
         
          #player_wrapper {
               width: 100vw;
              #video_player {
                
              }
              .progress-bar{
                  
              }
      
              #player_controls {
                  input[type="image"] {
                         
                      }
      
                      #vol_img {
                          display: inline;
                          margin-left:0%;
                      }
                 }
             }
          }
      }
}

@media only screen   
and (min-device-width: 500px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2){
    body {
        
        #wrapper {
         
          #player_wrapper {
               width: 100vw;
              #video_player {
                
              }
              .progress-bar{
                  
              }
      
              #player_controls {
                  input[type="image"] {
                         
                      }
      
                      #vol_img {
                          display: inline;
                          margin-left:25%;
                      }
                 }
             }
          }
      }
}

@media only screen   
and (min-device-width: 768px)
and (max-device-width: 900px)
and (-webkit-min-device-pixel-ratio: 2){
    body {
        
        #wrapper {
         
          #player_wrapper {
               width: 100vw;
              #video_player {
                
              }
              .progress-bar{
                  
              }
      
              #player_controls {
                  input[type="image"] {
                         
                      }
      
                      #vol_img {
                          display: inline;
                          margin-left:55%;
                      }
                 }
             }
          }
      }
}
@media only screen   
and (min-device-width: 900px)
and (max-device-width: 1200px)
and (-webkit-min-device-pixel-ratio: 2){
    body {
        
        #wrapper {
         
          #player_wrapper {
               width: 100vw;
              #video_player {
                
              }
              .progress-bar{
                  
              }
      
              #player_controls {
                  input[type="image"] {
                         
                      }
      
                      #vol_img {
                          display: inline;
                          margin-left:65%;
                      }
                 }
             }
          }
      }
}

